---
import {
  AlignmentTranslator,
  BackgroundColorAligment,
} from "$lib/charactersUtils";
import Image from "astro/components/Image.astro";
import ImageCharacter from "../ImageCharacter.astro";
import IsNewTag from "../IsNewTag.astro";

interface Props {
  c: CharacterWithJoinTeamUniversePower;
  imageSizes?: string;
  showName?: boolean;
  otherClasses: string;
  withLink: boolean;
  withTransitionName: boolean;
  teamSelected?: string;
}

const {
  c,
  imageSizes,
  showName = true,
  withLink,
  withTransitionName,
  otherClasses,
  teamSelected,
} = Astro.props;
---

<a
  href={withLink ? `/character?id=${c.id}` : undefined}
  transition:name={withTransitionName === true ? `photo-${c.id}` : undefined}
  class={`${otherClasses} characterCard `}
  id={withTransitionName === true ? undefined : `photo-${c.id}`}
>
  <div class="group/character">
    <div
      class="flex flex-col justify-center items-start gap-4 xl:items-start w-fit h-fit"
    >
      {
        showName === true && (
          <div class="flex justify-center w-full gap-5">
            <p class="font-bold text-xl">
              <span class="text-primary">{c.id} |</span> {c.name}
            </p>
            <IsNewTag _id={c._id} />
          </div>
        )
      }
      <div class="relative box characterId flex justify-center">
        <ImageCharacter
          classes={`object-cover ${imageSizes ? imageSizes : "h-[25rem] w-[25rem]"} rounded-md transition-all duration-500 ${showName === true && "group-hover/character:opacity-30"}`}
          width={800}
          height={800}
          src={c.images.md}
          loading="eager"
          alt={c.name}
          id={c.id}
        />
      </div>
      <div class="flex flex-col gap-2 w-full">
        <div class="flex justify-between items-center gap-2">
          <Image
            src={/* teamSelected
              ? c.connections.groupAffiliation.find(
                  (x) => x.name === teamSelected,
                )!.logo
              :  */ c.biography.publisher.logo}
            alt="team_logo_or_publisher_logo"
            width={800}
            height={800}
            class="h-10 w-auto"
          />
          <div
            class={`px-2 ${BackgroundColorAligment(c.biography.alignment)} rounded-full font-semibold transition-all`}
          >
            <p class="text-white">
              {AlignmentTranslator(c.biography.alignment)}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
