---
import {
  AlignmentTranslator,
  BackgroundColorAligment,
} from "$lib/charactersUtils";
import Image from "astro/components/Image.astro";
import ImageCharacter from "../ImageCharacter.astro";
import { ObjectId } from "mongodb";

interface Props {
  // c: Character;
  c: CharacterWithJoinTeamUniversePower;
  imageSizes?: string;
}

const { c, imageSizes } = Astro.props;

const isNew = (date: Date) => {
  const now = new Date();
  // const fiveDaysFromNow = new Date(now.getTime() + 5 * 24 * 60 * 60 * 1000);
  // return date <= fiveDaysFromNow;
  // const twentyDaysFromNow = new Date(now.getTime() + 20 * 24 * 60 * 60 * 1000);
  // return date <= twentyDaysFromNow;
  const twentyDaysAgo = new Date(now.getTime() - 15 * 24 * 60 * 60 * 1000);
  return date >= twentyDaysAgo;
};
---

<div class="group/character">
  <!--  {
    isNew(new ObjectId(c._id).getTimestamp()) === true ? (
      <div class="group-hover/character:scale-125 absolute z-50 p-2 bg-primary rounded-md -translate-y-2 -translate-x-2 font-semibold transition-all">
        <p class="text-primary-foreground">
          New
        </p>
      </div>
    ) : null
  } -->
  <div
    class="flex flex-col justify-center items-start gap-5 xl:items-start w-fit h-fit"
  >
    <div class="relative box characterId flex justify-center">
      <ImageCharacter
        classes={`object-cover ${imageSizes ? imageSizes : "h-[25rem] w-[25rem]"} rounded-md transition-all duration-500 group-hover/character:opacity-30`}
        width={800}
        height={800}
        src={c.images.md}
        loading="eager"
        alt={c.name}
        id={c.id}
      />
    </div>
    <div class="flex flex-col gap-2 w-full">
      <div class="flex justify-between w-full">
        <p class="font-bold text-xl">
          <span class="text-primary">{c.id} |</span>
          {" "}{c.name}
        </p>

        {
          isNew(new ObjectId(c._id).getTimestamp()) === true ? (
            <div
              class={`group-hover/character:scale-125 px-2 bg-primary rounded-full font-semibold transition-all`}
            >
              <p class="text-primary-foreground">New</p>
            </div>
          ) : null
        }
      </div>
      <div class="flex justify-between items-center gap-2">
        <Image
          src={c.biography.publisher.logo}
          alt=""
          width={800}
          height={800}
          class="h-10 w-auto"
        />
        <!-- |{" "} -->
        <div
          class={`px-2 ${BackgroundColorAligment(c.biography.alignment)} rounded-full font-semibold transition-all`}
        >
          <p class="text-secondary-foreground">
            {AlignmentTranslator(c.biography.alignment)}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
