---
import { AlignmentTranslator } from "$lib/charactersUtils";
import Image from "astro/components/Image.astro";

interface Props {
  // c: Character;
  c: CharacterWithJoinTeamUniversePower;
}

const { c } = Astro.props;
---

<div
  class="group/character flex flex-col justify-center items-start gap-5 xl:items-start w-fit h-fit"
>
  <!-- transition:animate="none" -->
  <div class="relative box characterId flex justify-center">
    <Image
      class={`object-cover h-[25rem] w-[25rem] rounded-md transition-all duration-500 group-hover/character:opacity-30`}
      width={800}
      height={800}
      src={c.images.md}
      loading="eager"
      alt={c.name}
    />
    <!-- transition:name={`transition-name-character-${c.id}`} -->
  </div>
  <div class="flex flex-col gap-2">
    <p class="font-bold text-xl">
      <!-- id={`character-${c.id}`} -->
      <!-- id={`character`} -->
      <span class="text-primary">{c.id} |</span>
      {c.name}
    </p>
    <div class="flex justify-start items-center gap-2">
      <Image
        src={c.biography.publisher.img}
        alt=""
        width={800}
        height={800}
        class="h-10 w-auto"
      />
      |{" "}
      <p class="text-secondary-foreground">
        {AlignmentTranslator(c.biography.alignment)}
      </p>
    </div>
  </div>
</div>
