---
import {
  AlignmentTranslator,
  BackgroundColorAligment,
} from "$lib/charactersUtils";
import Image from "astro/components/Image.astro";
import ImageCharacter from "../ImageCharacter.astro";
import { ObjectId } from "mongodb";
import Tooltip from "../Tooltip.svelte";

interface Props {
  // c: Character;
  c: CharacterWithJoinTeamUniversePower;
  imageSizes?: string;
  showName?: boolean;
}

const { c, imageSizes, showName = true } = Astro.props;

const isNew = (date: Date) => {
  const now = new Date();
  // const fiveDaysFromNow = new Date(now.getTime() + 5 * 24 * 60 * 60 * 1000);
  // return date <= fiveDaysFromNow;
  // const twentyDaysFromNow = new Date(now.getTime() + 20 * 24 * 60 * 60 * 1000);
  // return date <= twentyDaysFromNow;
  const twentyDaysAgo = new Date(now.getTime() - 15 * 24 * 60 * 60 * 1000);
  return date >= twentyDaysAgo;
};

const character_createdBy = new ObjectId(c._id).getTimestamp();
---

<div class="group/character">
  <!--  {
    isNew(character_createdBy) === true ? (
      <div class="group-hover/character:scale-125 absolute z-50 p-2 bg-primary rounded-md -translate-y-2 -translate-x-2 font-semibold transition-all">
        <p class="text-primary-foreground">
          New
        </p>
      </div>
    ) : null
  } -->
  <div
    class="flex flex-col justify-center items-start gap-4 xl:items-start w-fit h-fit"
  >
    {
      showName === true && (
        <div class="flex justify-center w-full gap-5">
          <p class="font-bold text-xl">
            <span class="text-primary">{c.id} |</span> {c.name}
          </p>

          {isNew(character_createdBy) === true ? (
            <Tooltip client:load>
              <div
                class={`group-hover/character:scale-125 px-2 bg-primary rounded-full font-semibold transition-all`}
                slot="trigger"
              >
                <p class="text-primary-foreground">New</p>
              </div>
              <div slot="content">
                <p class="text-primary">
                  Created by: {character_createdBy}. (
                  {Math.ceil(
                    (character_createdBy.getTime() - new Date().getTime()) /
                      (1000 * 60 * 60 * 24),
                  )}
                  days ago)
                </p>
              </div>
            </Tooltip>
          ) : null}
        </div>
      )
    }
    <div class="relative box characterId flex justify-center">
      <ImageCharacter
        classes={`object-cover ${imageSizes ? imageSizes : "h-[25rem] w-[25rem]"} rounded-md transition-all duration-500 ${showName === true && "group-hover/character:opacity-30"}`}
        width={800}
        height={800}
        src={c.images.md}
        loading="eager"
        alt={c.name}
        id={c.id}
      />
    </div>
    <div class="flex flex-col gap-2 w-full">
      <div class="flex justify-between items-center gap-2">
        <Image
          src={c.biography.publisher.logo}
          alt=""
          width={800}
          height={800}
          class="h-10 w-auto"
        />
        <!-- |{" "} -->
        <div
          class={`px-2 ${BackgroundColorAligment(c.biography.alignment)} rounded-full font-semibold transition-all`}
        >
          <!-- text-secondary-foreground -->
          <p class="text-white">
            {AlignmentTranslator(c.biography.alignment)}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
