---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { collectionCharacters } from "../lib/mongodb";
import Image from "astro/components/Image.astro";
import Tabs from "src/components/Tabs.svelte";
import CharacterTeamsDisplay from "src/components/CharacterTeamsDisplay.astro";

const { id } = Astro.params;

if (!id) return Astro.redirect("/character-not-found");

export async function getStaticPaths() {
  const allCharacters = await collectionCharacters.find().toArray();

  return allCharacters.filter((character: any) => {
    if (character.id === id) {
      return {
        params: { id: character.id },
      };
    }
  });
}
const selectedCharacter = await collectionCharacters.findOne({
  id: parseInt(id),
});

if (!selectedCharacter) return Astro.redirect("/character-not-found");

// const optimizedCharacterImageMd = await getImage({src: selectedCharacter?.images.md ?? ""/* , format: 'webp' */})
---

<Layout
  title={`${selectedCharacter?.name ? selectedCharacter?.name : "unknown"}`}
  otherLinks={[{
    href: `/fight?first=${selectedCharacter?.id}`,
    title: `Fight using ${selectedCharacter?.name}`,
  }]}
>
  <main class="mt-16">
    {
      selectedCharacter ? (
        <div class="flex flex-col xl:flex-row justify-center items-center gap-16">
          <div class="relative box characterId overflow-hidden">
            <Image
              class={`object-cover h-[44rem] w-[40rem] rounded-md`}
              width={500}
              height={500}
              src={selectedCharacter?.images.md}
              loading="eager"
              transition:name={`media-image-${selectedCharacter?.id}`}
              alt=""
            />
          </div>
          <div class="h-[44rem] w-full lg:w-[70%]">
            <Tabs characterInfo={selectedCharacter} client:load>
              <CharacterTeamsDisplay slot="character-images-display" characterInfo={selectedCharacter} />
            </Tabs>
          </div>
        </div>
      ) : null
    }
  </main>
</Layout>


<!-- <CharacterFeatures
              selectedCharacter={selectedCharacter}
              tab={tab ?? "Stats"}
              client:load
            /> -->


            <!-- <div class="flex gap-10 justify-end">
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Stats`}
              >
                Stats
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Appereance`}
              >
                Appereance
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Biography`}
              >
                Biography
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Teams`}
              >
                Teams
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Comics`}
              >
                Comics
              </a>
            </div> -->