---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { collectionCharacters } from "../lib/mongodb";
import Tabs from "src/components/Tabs.svelte";
import { joinTeam_universe_power_toCharacter } from "$lib/charactersUtils";
import ImageCharacter from "src/components/ImageCharacter.astro";

const id = Astro.url.searchParams.get("id");
const characterJoinTeamAndUniverse = await collectionCharacters
  .aggregate<CharacterWithJoinTeamUniversePower>(
    joinTeam_universe_power_toCharacter(
      { id: parseInt(id ?? "") },
      "id",
      "desc",
      0,
      1,
      [],
    ),
  )
  .toArray();

const selectedCharacter = characterJoinTeamAndUniverse[0];

if (!selectedCharacter) {
  return Astro.redirect(`/not-found`);
}
---

<Layout
  title={`${selectedCharacter?.name}`}
  otherLinks={[
    {
      href: `/compare?first=${selectedCharacter?.id}`,
      title: `Compare using ${selectedCharacter?.name}`,
    },
  ]}
>
  <div
    class="flex flex-col xl:flex-row justify-center items-center gap-16 w-full"
    slot="content"
  >
    <div class="flex flex-col justify-center items-start gap-5">
      <!-- <p class="font-bold text-xl">
          <span class="text-primary">{selectedCharacter.id} |</span>
          {selectedCharacter.name}
        </p> -->
      <div
        class="relative box characterId overflow-hidden"
        transition:name={`photo-${selectedCharacter.id}`}
      >
        <ImageCharacter
          classes={`object-cover h-[40rem] w-[40rem] rounded-md`}
          width={500}
          height={500}
          src={selectedCharacter.images.md}
          loading="eager"
          alt={selectedCharacter.name}
          id={selectedCharacter.id}
        />
      </div>
    </div>
    <div class="h-[44rem] w-full lg:w-[70%]">
      <Tabs
        characterInfo={selectedCharacter}
        publisherInfo={selectedCharacter.biography.publisher}
        teams={selectedCharacter.connections.groupAffiliation}
        client:load
      />
    </div>
  </div>
</Layout>

<!-- <CharacterFeatures
              selectedCharacter={selectedCharacter}
              tab={tab ?? "Stats"}
              client:load
            /> -->

<!-- <div class="flex gap-10 justify-end">
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Stats`}
              >
                Stats
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Appereance`}
              >
                Appereance
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Biography`}
              >
                Biography
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Teams`}
              >
                Teams
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Comics`}
              >
                Comics
              </a>
            </div> -->
