---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { collectionCharacters } from "../lib/mongodb";
import Tabs from "src/components/Tabs.svelte";
import { joinTeam_universe_power_toCharacter } from "$lib/charactersUtils";
import CharacterCard from "src/components/characters_page/CharacterCard.astro";
import { ObjectId } from "mongodb";

const id = Astro.url.searchParams.get("id");
const characterJoinTeamAndUniverse = await collectionCharacters
  .aggregate<CharacterWithJoinTeamUniversePower>(
    joinTeam_universe_power_toCharacter(
      { id: parseInt(id ?? "") },
      "id",
      "desc",
      0,
      1,
      [],
    ),
  )
  .toArray();

const selectedCharacter = characterJoinTeamAndUniverse[0];

if (!selectedCharacter) {
  return Astro.redirect(`/not-found`);
}
---

<Layout
  title={`${selectedCharacter?.name}`}
  otherLinks={[
    {
      href: `/compare?first=${selectedCharacter?.id}`,
      title: `Compare using ${selectedCharacter?.name}`,
    },
  ]}
>
  <div
    class="flex flex-col xl:flex-row justify-center items-center gap-16 w-full"
    slot="content"
  >
    <div class="flex flex-col justify-center items-start gap-5">
      <CharacterCard
        imageSizes={"h-[40rem] w-[40rem]"}
        c={selectedCharacter}
        showName={false}
        withTransitionName={true}
        withLink={false}
        otherClasses=""
      />
    </div>
    <div class="h-[44rem] w-full lg:w-[70%]">
      <Tabs
        characterInfo={selectedCharacter}
        publisherInfo={selectedCharacter.biography.publisher}
        teams={selectedCharacter.connections.groupAffiliation}
        character_added_by={new ObjectId(selectedCharacter._id).getTimestamp()}
        client:load
      />
    </div>
  </div>
</Layout>
