---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import {
  collectionCharacters,
  collectionTeams,
  collectionUniverses,
} from "../lib/mongodb";
import Image from "astro/components/Image.astro";
import Tabs from "src/components/Tabs.svelte";
// import CharacterTeamsDisplay from "src/components/CharacterTeamsDisplay.astro";

const id = Astro.url.searchParams.get("id");

// export async function getStaticPaths() {
//   const allCharacters = await collectionCharacters.find().toArray();

//   return allCharacters.filter((character: any) => {
//     if (character.id === id) {
//       return {
//         params: { id: character.id },
//       };
//     }
//   });
// }
const selectedCharacter = await collectionCharacters.findOne({
  id: parseInt(id ?? ""),
});

const selectedCharacterPublisher = await collectionUniverses.findOne({
  value: selectedCharacter?.biography.publisher,
});

if (!selectedCharacter) return Astro.redirect("/not-found");

const teams = await collectionTeams
  .find({
    /* value: {
      $regex: characterInfo.connections.groupAffiliation.join("|"),
    }, */
    value: {
      $in: selectedCharacter.connections.groupAffiliation,
    },
    /* value: {
      $regex: characterInfo.connections.groupAffiliation.join("|"),
      $options: "si",
    }, */
  })
  .toArray();
---

<Layout
  title={`${selectedCharacter?.name}`}
  otherLinks={[
    {
      href: `/fight?first=${selectedCharacter?.id}`,
      title: `Fight using ${selectedCharacter?.name}`,
    },
  ]}
>
  <main class="">
    {
      selectedCharacter ? (
        <div class="flex flex-col xl:flex-row justify-center items-center gap-16">
          <div class="flex flex-col justify-center items-start gap-5">
            <p class="font-bold text-xl">
              <span class="text-primary">{selectedCharacter.id} |</span>
              {selectedCharacter.name}
            </p>
            <div class="relative box characterId overflow-hidden">
              <Image
                class={`object-cover h-[40rem] w-[40rem] rounded-md`}
                width={500}
                height={500}
                src={selectedCharacter.images.md}
                loading="eager"
                alt=""
              />
            </div>
          </div>
          <div class="h-[44rem] w-full lg:w-[70%]">
            <Tabs
              characterInfo={selectedCharacter}
              publisherInfo={selectedCharacterPublisher!}
              teams={teams}
              client:load
            ></Tabs>
          </div>
        </div>
      ) : null
    }
  </main>
</Layout>

<!-- <CharacterTeamsDisplay
                slot="character-images-display"
                characterInfo={selectedCharacter}
              /> -->

<!-- in the characterId div -->
<!-- transition:animate="none" -->

<!-- in the image -->
<!-- transition:name={`media-image-${selectedCharacter.id}`} -->

<!-- <CharacterFeatures
              selectedCharacter={selectedCharacter}
              tab={tab ?? "Stats"}
              client:load
            /> -->

<!-- <div class="flex gap-10 justify-end">
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Stats`}
              >
                Stats
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Appereance`}
              >
                Appereance
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Biography`}
              >
                Biography
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Teams`}
              >
                Teams
              </a>
              <a
                class="hover:underline"
                href={`/${selectedCharacter?.id}?tab=Comics`}
              >
                Comics
              </a>
            </div> -->
