---
import Layout from "../layouts/Layout.astro";
import { collectionCharacters } from "../lib/mongodb";
import {
  getRandomIdRecursively,
  joinTeam_universe_power_toCharacter,
} from "../lib/charactersUtils";
import CharacterInfoBattle from "../components/CharacterInfoBattle.astro";

const first = Astro.url.searchParams.get("first");
const second = Astro.url.searchParams.get("second");

const [firstGenerated, secondGenerated] = await Promise.all([
  getRandomIdRecursively(),
  getRandomIdRecursively(),
]);

const firstId = first ?? firstGenerated;
const secondId = second ?? secondGenerated;

if (!first || !second) {
  return Astro.redirect(`/compare?first=${firstId}&second=${secondId}`);
}

const [[firstCharacter], [secondCharacter]] = await Promise.all([
  collectionCharacters
    .aggregate<CharacterWithJoinTeamUniversePower>(
      joinTeam_universe_power_toCharacter(
        {
          id: parseInt(firstId),
        },
        "id",
        "desc",
        0,
        2,
        [],
      ),
    )
    .toArray(),
  collectionCharacters
    .aggregate<CharacterWithJoinTeamUniversePower>(
      joinTeam_universe_power_toCharacter(
        {
          id: parseInt(secondId),
        },
        "id",
        "desc",
        0,
        2,
        [],
      ),
    )
    .toArray(),
]);
---

<Layout
  title={`${firstCharacter.name} vs ${secondCharacter.name}`}
  showTitle={false}
>
  <!-- grid-cols-1 md:grid-cols-2 -->
  <div
    class="w-fit grid grid-cols-2 gap-10 justify-start items-start overflow-visible"
    slot="content"
  >
    <CharacterInfoBattle
      position={"first"}
      selectedCharacter={firstCharacter}
      otherCharacterId={secondCharacter.id}
      showButtons={true}
      showStats={true}
    />

    <CharacterInfoBattle
      position={"second"}
      selectedCharacter={secondCharacter}
      otherCharacterId={firstCharacter.id}
      showButtons={true}
      showStats={true}
    />
  </div>
</Layout>
