---
import Layout from "../layouts/Layout.astro";
import { collectionCharacters } from "../lib/mongodb";
import Marquee from "$lib/components/magicui/marquee.astro";
// import OrbitingCircles from "$lib/components/magicui/orbing-circle.astro";
// import { Atom, Rocket } from "lucide-astro";

const repeat = 4;

// const randomCharacters = await collectionCharacters
//   .aggregate<Character>([{ $sample: { size: 12 } }])
//   // .find()
//   // .sort({ id: "desc" })
//   // .limit(10)
//   .toArray();

const dateSeed = new Date().toISOString().slice(0, 10); // e.g., "2025-01-07"

// Hash the seed or use it directly
const hash = dateSeed
  .split("")
  .reduce((acc, char) => acc + char.charCodeAt(0), 0);

// MongoDB aggregation query
const randomCharacters = await collectionCharacters
  .aggregate<Character>([
    {
      $addFields: {
        randomField: {
          $mod: [
            {
              $toLong: {
                $toDate: "$_id", // Get the timestamp from the ObjectId and convert it to a Date
              },
            },
            hash, // Use the hash to introduce daily randomness
          ],
        },
      },
    },
    { $sort: { randomField: 1 } },
    { $limit: 12 },
  ])
  .toArray();

function divideArray<T>(arr: T[], numChunks: number): T[][] {
  const chunkSize = Math.ceil(arr.length / numChunks);
  const result: T[][] = [];

  for (let i = 0; i < numChunks; i++) {
    const start = i * chunkSize;
    const end = start + chunkSize;
    result.push(arr.slice(start, end));
  }

  return result;
}
const [firstRow, secondRow, thirdRow] = divideArray<Character>(
  randomCharacters,
  3,
);
const reverse_1_marquee = false;
const reverse_2_marquee = true;
const reverse_3_marquee = false;
---

<Layout title="Welcome to Characters.">
  <div slot="content">
    <!--  max-w-[50rem] -->
    <!-- <div
      class="relative flex h-[500px] w-full items-center justify-center mb-40"
    >
      <Atom class="size-28 animate-logo-color-spin" />

      <OrbitingCircles
        className="h-[50px] w-[50px] border-none bg-transparent"
        duration={20}
        delay={10}
        radius={80}
        reverse={false}
      >
        <img
          src="https://cdn.worldvectorlogo.com/logos/marvel.svg"
          slot="icon"
        />
      </OrbitingCircles>

      <OrbitingCircles
        className="h-[50px] w-[50px] border-none bg-transparent"
        duration={20}
        delay={20}
        radius={80}
        reverse={false}
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/DC_Comics_logo.svg/900px-DC_Comics_logo.svg.png"
          slot="icon"
        />
      </OrbitingCircles>

      <OrbitingCircles
        className="h-[50px] w-[50px] border-none bg-transparent"
        duration={20}
        delay={10}
        radius={130}
        reverse={true}
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/04/Shueisha_Logo.svg"
          slot="icon"
          class="invert"
        />
      </OrbitingCircles>

      <OrbitingCircles
        className="h-[40px] w-[40px] border-none bg-transparent"
        duration={20}
        delay={20}
        radius={130}
        reverse={true}
      >
        <img
          src="https://minitex.umn.edu/sites/default/files/styles/manual_crop_1_1/public/images/2020-08/download%20%281%29.png?itok=MrU0D5k9"
          slot="icon"
        />
      </OrbitingCircles>

      <OrbitingCircles
        className="h-[50px] w-[50px] border-none bg-transparent"
        duration={20}
        delay={10}
        radius={180}
        reverse={false}
      >
        <img
          src="https://www.lucasfilm.com/app/uploads/logo_home2.png"
          slot="icon"
        />
      </OrbitingCircles>

      <OrbitingCircles
        className="h-[40px] w-[40px] border-none bg-transparent"
        duration={20}
        delay={20}
        radius={180}
        reverse={false}
      >
        <img
          src="https://idwmediaholdings.com/wp-content/uploads/2021/11/IDWLOGO-2016-white-1.png"
          slot="icon"
        />
      </OrbitingCircles>
    </div> -->

    <div
      class="relative flex h-full w-full flex-col items-center justify-center overflow-hidden bg-background/10"
    >
      <Marquee
        repeat={repeat}
        reverse={reverse_1_marquee}
        rowElements={firstRow}
      />
      <Marquee
        repeat={repeat}
        reverse={reverse_2_marquee}
        rowElements={secondRow}
      />
      <Marquee
        repeat={repeat}
        reverse={reverse_3_marquee}
        rowElements={thirdRow}
      />
    </div>
  </div>
</Layout>
