---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout title={`Characters-Not-Found`}>
  <main
    class="mb-32 flex flex-col justify-center items-center gap-5"
    slot="content"
  >
    Not Found 404
    <img
      src="https://media2.giphy.com/media/9J7tdYltWyXIY/200w.gif?cid=6c09b952bj6xy0jvzdnjvykdtprwbiamv0m2yqgd82ldk75m&ep=v1_gifs_search&rid=200w.gif&ct=g"
      class="h-96 w-auto"
    />
  </main>
</Layout>

<!-- // characterName={characterName}
      // gender={gender}
      // side={side}
      // race={race}
      // power={power}
      // universe={universe}
      // team={team}
      // characterOrFullName={characterOrFullName}
      // includesOrExact={includesOrExact}
      // sortBy={sortBy}
      // sortDirection={sortDirection} -->
