---
import { Button } from "$lib/components/ui/button";
import Stats from "./stats/Stats.svelte";
import ImageCharacter from "./ImageCharacter.astro";

interface Props {
  selectedCharacter: CharacterWithJoinTeamUniversePower;
  classNames?: string;
}

const { selectedCharacter, classNames } = Astro.props;
---

<div
  class={`flex-shrink flex flex-col justify-center items-center mb-10 ${classNames} `}
>
  <div class="flex flex-col gap-5">
    <a href={`/character?id=${selectedCharacter.id}`}>
      <Button variant={"link"} class="m-0 p-0">
        <p class="text-lg md:text-2xl text-ellipsis">
          <span class="text-primary">{selectedCharacter.id}</span>
          |
          <span class="text-foreground">{selectedCharacter.name}</span>
        </p>
      </Button>
    </a>
    <!-- transition:animate="none" -->
    <div class="relative box characterId overflow-hidden">
      <ImageCharacter
        width={500}
        height={500}
        classes={`card-shine-effect rounded-md w-[10rem] h-[15rem] md:w-[35rem] md:h-[35rem] lg:w-[45rem] lg:h-[45rem] object-cover object-top`}
        src={selectedCharacter.images.md}
        alt={selectedCharacter.name}
        loading="eager"
        id={selectedCharacter.id}
      />
    </div>
  </div>
  <div class="w-[80%]">
    <Stats
      powerstats={selectedCharacter.powerstats}
      powers={selectedCharacter.powers}
      showNameAtAll={false}
      client:load
    />
  </div>
</div>
