---

  import { getTeamByUniverse } from "$lib/constants/constants";
  import { ScrollArea } from "$lib/components/ui/scroll-area/index.ts";
import { GetColorOfTheLogoByTeam } from "$lib/charactersUtils";
import Image from "astro/components/Image.astro";


interface Props {
  characterInfo: Character
}

const { characterInfo } = Astro.props

function getTeamsImagesByCharacter(characterInfo: Character) {
    const imagesget = getTeamByUniverse(
      characterInfo.biography.publisher
    ).reduce((acc, teamToFind) => {
      const teamsByCharacter =
        characterInfo.connections.groupAffiliation.split(/,|;/);
      let imageTeam;

      function findWordBetweenSpaces(
        inputString: string,
        targetWord: string
      ): boolean {
        const regex = new RegExp(`\\b${targetWord}\\b`);
        return regex.test(inputString);
      }

      teamsByCharacter.forEach((team) => {
        if (
          findWordBetweenSpaces(
            team.trim().toLowerCase(),
            teamToFind.value.toLowerCase().trim()
          )
        ) {
          imageTeam = teamToFind;
        }
      });
      if (imageTeam) acc.push(imageTeam);
      return acc;
    }, new Array());

    const uniqueIds = new Set();
    const filteredArray = imagesget.filter((obj: { value: string }) => {
      const value = obj.value;
      if (value !== undefined && !uniqueIds.has(value)) {
        uniqueIds.add(value);
        return true;
      }
      return false;
    });

    return filteredArray;
  }

  const teamsImages = getTeamsImagesByCharacter(characterInfo).filter(c => c.name !== "All teams");

---

<!-- rounded-md border -->
<!-- <ScrollArea
  class="w-[500px] md:w-[500px] lg:w-[800px] h-[630px] whitespace-nowrap "
  orientation="vertical"
> -->
  <div class="overflow-y-scroll whitespace-nowrap w-[500px] md:w-[500px] lg:w-[800px] h-[630px] ">
    <div class="flex flex-col gap-5 justify-center items-center">
      {teamsImages.map((team) => {
        return(
        <a
          href={`/characters?universe=${characterInfo.biography.publisher}&team=${team.value}`}
          class="hover:underline"
        >
          <figure class="shrink-0">
            <div class="overflow-hidden rounded-md">
              <Image
                src={team.img}
                alt={`Photo by`}
                class={`${GetColorOfTheLogoByTeam(team.name)}`}
                width={300}
                height={400}
                transition:name={`media-image-${team.value}`}
              />
            </div>
  
            <p class="pt-2 text-xs text-muted-foreground">
              Photo by
              <span class="font-semibold text-foreground">
                {team.name}
              </span>
            </p>
          </figure>
        </a>
        )
      })}
      </div>
  </div>
<!-- </ScrollArea> -->
$lib/constants/constants