---
import "../styles/globals.css";
import { ViewTransitions } from "astro:transitions";
// import { fade } from "astro:transitions";
import Sheet from "src/components/Sheet.svelte";

// import * as Sheet from "$lib/components/ui/sheet";
import { Menu } from "lucide-astro";
// import Sparkles from "src/components/Sparkles.astro";
import Sparkles from "src/components/Sparkles.svelte";
import Button from "node_modules/bits-ui/dist/bits/button/components/button.svelte";


// things to fix:
/* 
- add a powers page
- add a shortcut to enter key to search the button when the sheet is open
-- add a shortcut to open the filter (ctrl + m) and a tooltip to the button of filter
-- add a new filter by powers, create a new object in the constants file that has all the powers listed in each character because there are alot repeaded
- see if I can add the sort random (how to make a random sort with pagination on mongodb) https://stackoverflow.com/questions/48447384/nodejs-mongo-pagination-random-order
- (I added one but I can't do zoom) add a library to see each image in the charactersImageDisplay.svelte component in fullscreen  
- some images are not displaying (because are from a CORS site i guess or webp files) :/
- dark mode toggling when changes page while using viewTransition (in the mean time I have just dark mode by default)

-- I could maybe use this and the chatGPT api: https://stackoverflow.com/questions/6188188/adding-new-property-to-each-document-in-a-large-collection
--see if I can add a new property to powerstats that shows the powers listed
-- see if I can use chatgpt with node to automaicly create those properties for all the characters and fill it using information from chatgpt
-- do the same with new propertyes like: history (just a couple of lines or so), and age range (the ages that characters has been doing the super heroic/villain life style)
*/

const currentPath = Astro.url.pathname;

interface Props {
  title: string;
  otherLinks?: {
    href: string;
    title: string;
  }[];
}

const { title, otherLinks } = Astro.props;

// const propsParticles = {
//   id: "tsparticlesfullpage",
//   background: "transparent",
//   minSize: 0.6,
//   maxSize: 1.4,
//   particleDensity: 50,
//   particleColor: "#000000",
// };

// const propsParticlesDark = {
//   ...propsParticles,
//   particleColor: "#fff",
//   id: "tsparticlesfullpage2",
// };

const links = [
  // {
  //   href: "/",
  //   title: "Home",
  // },
  {
    href: "/characters",
    title: "Characters",
  },
  {
    href: "/fight",
    title: "Fight",
  },
  {
    href: "/teams",
    title: "Teams",
  },
  {
    href: "/powers",
    title: "Powers",
  },
]

if(otherLinks) links.push(...otherLinks)

---

<!-- <script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script> -->
<html lang="en">
  <!-- the following line doesn't work, so I don't even bother using it -->
  <!-- transition:animate={fade({ duration: "15s" })} -->
  <head  >
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="absolute inset-0 -z-10 min-h-screen">
      <Sparkles client:only/>
    </div>
    
    <main class="w-[90vw] md:w-[80vw] mx-auto overflow-hidden">
      <div
        class="flex items-center justify-between md:justify-start mx-auto py-4 gap-5"
      >
        <a href="/"><p class="text-primary font-bold text-stroke-custom">ASTRO 🚀</p></a>
        <div class={`items-center justify-between hidden md:flex w-full  md:w-auto`}>
          <menu
            class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
          >
            {links.map((link) => (
              <li>
                <Button variant={"link"} class="hover:underline text-foreground">
                  <a
                    href={link.href}
                    class={`block py-2 px-3 ${(currentPath.includes(link.href) && title === link.title) && "underline"}`}
                    >
                      {link.title}
                  </a>
                </Button>
              </li>
            ))}
          </menu>
        </div>
        
        <Sheet ButtonClassName="flex justify-center md:hidden" client:load>
          <Menu slot="trigger" className=" w-full" />
          <div slot="content" class={`items-center justify-between flex w-full  md:w-auto`}>
            <menu
              class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
            >
              {links.map((link) => (
                <li>
                  <Button variant={"link"} class="text-foreground">
                    <a 
                      href={link.href} 
                      class={`flex py-2 px-3 ${(currentPath.includes(link.href) && title === link.title) && "underline"}`} 
                      >
                        {link.title}
                    </a>
                  </Button>
                </li>
              ))}
            </menu>
          </div>
        </Sheet>
      </div>
      <div class="mx-auto">
        <slot />
      </div>
    </main>
  </body>
</html>
